<html>
    <head>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>White Raven</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
		<div class="container">
            <br/><br/><br/><br/><br/>
            <div class="row">
                News Feed
            </div>
        </div>

		<script type="text/javascript">
		</script>
	</body>
</html>